.msp-preset-btn-192 {
    background-color: #fff;
    color: #333
}

.msp-preset-btn-192:hover {
    background-color: #f9f9f9
}

.msp-preset-btn-192:active {
    top: 1px
}

.msp-cn-163-1 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 26px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-163-2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.msp-cn-163-3 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 36px;
    text-align: right;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-163-4 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
}

.msp-cn-163-5 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-163-6 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
}

@media screen and (min-width: 1280px) {
    .msp-cn-163-1 {
        text-align: center;
        font-size: 65px;
    }
}

@media screen and (min-width: 766px) and (max-width: 768px) {
    .msp-cn-163-1 {
        font-weight: normal;
        font-size: 60px;
        text-align: center;
    }

    .msp-cn-163-2{
        font-size: 30px;
    }
}


@media screen and (max-width: 767px) {
    .msp-cn-163-1 {
        font-weight: normal;
        font-size: 60px;
        text-align: center;
    }

    .msp-cn-163-2{
        font-size: 30px;
    }
}

@media screen and (max-width: 544px) {
    .msp-cn-163-1 {
        font-weight: normal;
        font-size: 100px;
        text-align: center;
    }

    .msp-cn-163-2{
        font-size: 40px;
    }

    #font-sm{
        font-weight: normal;
        font-size: 80px;
        text-align: center;
    }
}

.msp-preset-29 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 120px;
    letter-spacing: 1px;
    line-height: normal;
    color: #ffffff;
}

.msp-preset-30 {
    font-family: "Source Code Pro";
    font-weight: 800;
    font-size: 40px;
    line-height: normal;
    color: #BEC097;
}

.msp-preset-31 {
    font-family: "Source Code Pro";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: normal;
    color: #ba895d;
}

.msp-preset-32 {
    font-family: "Source Code Pro";
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #6a6a6a;
}

.msp-cn-156-35 {
    background-color: #272727;
    font-weight: normal;
    line-height: normal;
    color: #C97727;
}

.msp-cn-156-41 {
    background-color: #272727;
    font-weight: normal;
    line-height: normal;
    color: #C97727;
}

.msp-cn-156-45 {
    font-family: "Raleway";
    font-weight: 900;
    font-size: 105px;
    letter-spacing: 2px;
    line-height: normal;
    color: #C97727;
}

.msp-cn-156-49 {
    background-color: #272727;
    font-weight: normal;
    line-height: normal;
    color: #ffffff;

    background: #F8F4E8;
}

.ms-slider-slide-gradient-bg {

    background: #F8F4E8;
}


.g-img-menu{height:50vh !important;}

/*
.arrow-menu{height: 60px !important;
    width: 60px !important;}
    */


.g-is-desktop{
    visibility: visible !important;
}

.g-is-mobile{
    visibility: hidden !important;
}

@media (max-width: 992px) {

    .g-img-menu{height:30vh !important;}

    .msp-cn-156-45{
        font-size: 92px !important;
        letter-spacing: 4px;
    }

}

@media (max-width: 767px) {


    .g-img-menu{height:40vh !important;}

    .msp-cn-156-45{font-size: 65px !important;letter-spacing: 6px; font-weight: 1200;}

    .arrow-menu{height: 35px !important;
        width: 35px !important;}


}

@media (max-width: 544px) {

    .g-is-desktop{
        visibility: hidden !important;
    }

    .g-is-mobile{
        visibility: visible !important;
    }

    .msp-cn-156-45{font-size: 25px !important;letter-spacing: 2px; font-weight: 1200;}

    .msp-preset-30{font-size: 20px !important;}

    .g-img-menu{width: 100%!important;}

    .arrow-menu{height: 60px !important;
        width: 60px !important;}


}